Last login: Sun Nov  3 09:37:29 on ttys001
➜  ~ cd workspace 
➜  workspace l
total 16
drwxr-xr-x   8 changheekim  staff   256B  9  3 20:27 .
drwxr-xr-x+ 54 changheekim  staff   1.7K 11  3 09:42 ..
-rw-r--r--@  1 changheekim  staff   6.0K  9  3 20:27 .DS_Store
drwxr-xr-x   6 changheekim  staff   192B  9  3 20:27 .idea
drwxr-xr-x  13 changheekim  staff   416B  1 18  2019 BACKUP
drwxr-xr-x   7 changheekim  staff   224B  7 28 12:22 PROJECT
drwxr-xr-x  15 changheekim  staff   480B 11  3 09:41 STUDY
drwxr-xr-x   3 changheekim  staff    96B  1 27  2018 tools
➜  workspace cd STUDY 
➜  STUDY ll
total 96248
drwxr-xr-x   4 changheekim  staff   128B 10 28 21:52 DMZR
drwxr-xr-x  10 changheekim  staff   320B  7 31 00:05 REACT
drwxr-xr-x  10 changheekim  staff   320B  8  4 14:45 ROMJINTTYO
drwxr-xr-x   5 changheekim  staff   160B  7 20 09:34 ZZAPPYUL
-rw-r--r--   1 changheekim  staff   4.6K  7  9 22:50 ZZAPPYUL.zip
drwxr-xr-x   6 changheekim  staff   192B  3 30  2019 node_study
drwxr-xr-x@ 41 changheekim  staff   1.3K  9  3 20:31 poten-web
-rw-r--r--@  1 changheekim  staff    47M  8 18 17:39 poten-web.zip
drwxr-xr-x@ 41 changheekim  staff   1.3K  9  8 09:14 poten-web_2
drwxr-xr-x  15 changheekim  staff   480B  9  8 09:29 preproject
-rw-r--r--   1 changheekim  staff    21B  3 28  2019 test.js
drwxr-xr-x   3 changheekim  staff    96B 11  3 09:41 tmp
➜  STUDY cd DMZR 
➜  DMZR ll
total 0
drwxr-xr-x  15 changheekim  staff   480B 11  3 09:31 dmzr
➜  DMZR cd dmzr 
➜  dmzr git:(master) ✗ ls
HELP.md         build.gradle    gradle          gradlew.bat     src
build           dmzr.iml        gradlew         settings.gradle
➜  dmzr git:(master) ✗ vi .gitignore 



































reated by https://www.gitignore.io/api/node,java,macos,windows,eclipse,jetbrains
# Edit at https://www.gitignore.io/?templates=node,java,macos,windows,eclipse,jetbrains

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Annotation Processing
.apt_generated

".gitignore" 331L, 5260C

